<!doctype html>
<html>
    <head>
        <title>View Data</title>
    </head>

    <body>
        <!-- Top Menu -->
        <main>
            <h3>This is the Default Layout!</h3>
            <a href='/'>Go back to home</a>
            {{{body}}}
        </main>
        <!-- footer -->
        <footer style="background-color: rgb(12, 204, 204)">
            <p>This is the footer for the default layout</p>
        </footer>
    </body>
</html>